* {
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 500px;
    padding: 0 10px 0 10px;
}

.segmented-control {
    display: table;
    width: 100%;
    margin: 2em 0;
    padding: 0;
}

.segmented-control-item {
    display: table-cell;
    margin: 0;
    padding: 0;
    list-style-type: none;

    -webkit-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;

    width: 50%;
}

.segmented-control-input {
    position: absolute;
    visibility: hidden;
}

.segmented-control-label {
    display: block;
    margin: 0 -2px -2px 0;
    padding: .25em .25em;

    border: 2px solid #DBDBDB;

    font: 26px/1.5 sans-serif; 
    font-weight: 600;
    text-align: center;  

    cursor: pointer;
}

.segmented-control-item.left label {
    border-radius: 8px 0 0 8px;

    background: linear-gradient(to right, #31BDDA, #25DE4F);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.segmented-control-item.right label {
    border-radius: 0 8px 8px 0;

    background: linear-gradient(to right, #FA7E54, #D1337F);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.segmented-control-results {
    display: table;
    width: 100%;
    margin: 2em 0;
    padding: 0;
}

.segmented-control-results .segmented-control-label {
    cursor: default;
}

.segmented-control-results .segmented-control-item.left {
    background-color: #DBDBDB;
}

#votes-collected {
    text-align: center;
    color: #A0A0A0
}